.reserve-btn {
  background-color: #1752ff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;

  &:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: #0f3ec7;
  }
}
